<style>
#d {
  padding: 12px 20px;
  margin: 0px;
  border: none;
  border: 1px solid black;

  flex: 4;
}
#c {
  padding: 12px 20px;
  margin: 0px;
  border: 1px solid black;
  border-left: 0px;

  flex: 1;
}
#f {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h4 { text-align: center; }
</style>
<h4>Open me</h4>
<div id=f>
<input id=d></input>
<button id=c onclick=d()>Send</button>
<script>STRING_TO_REPLACE</script>
<div>
